.choiceOne{
    width: 132px;
    height: 142px;
    background-color: rgb(247,247,247);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 0;
}
.choiceOne span{
    font-weight: bolder;
    font-size: 26px;
}
.choiceOne button{
    font-size: 16px;
    width: 60px;
    height: 34px;
    background-color: red;
    color: #fff;
    border:none;
    border-radius: 5px;
    letter-spacing: 1px;
    outline:none;
}
.choiceOne .title{
    font-size: 15px;
}