.chart-list{
	padding: 10rpx 0;
	display: flex;
	position: relative;
	align-items: center;
	box-sizing: border-box;
}
.boss-img{
	position: relative;
	margin-right: 20rpx;
}
.char-img{
	width: 65rpx;
	height: 65rpx;
	border-radius: 50%;
}
.img-tips{
	width: 25rpx;
	height: 25rpx;
	position: absolute;
	font-size: 18rpx;
	top: 0;
	color: #FFFFFF;
	right: 0;
	border-radius: 50%;
	background: red;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.boss-info{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.time{
	position: absolute;
	top: 30rpx;
	right:0;
	font-size:20rpx;
	color: #808080;
}
.info-title{
	color: #252426;
	font-size: 30rpx;
}
.word-tip{
	margin-left: 15rpx;
	font-size:20rpx;
	color: #808080;
}
.msg{
	color: #808080;
	font-size: 25rpx;
}