.content{
	    width: 100%;
		margin-top: 60rpx;
		box-sizing: border-box;
		padding: 15rpx 25rpx;
	}
	.bottom-line{
		border-bottom: 1rpx solid #F9F7F9;
	}
	.msg-head{
		display: flex;
		align-items: center;
		box-sizing: border-box;
		padding: 25rpx 0;
		justify-content: space-between;
	}
	.unRead-count{
		padding: 5rpx 8rpx;
		border: 1px solid #69AAA6;
		box-sizing: border-box;
		border-radius: 5rpx;
		font-size: 23rpx;
		color: #69AAA6;
	}
	.msg-title{
		color: #252426;
		font-size: 28rpx;
	}
	.com{
		position: fixed;
		left: 0;
		right: 0;
		z-index: 99;
	}
	.head-com{
		top: 0;
	}
	.foot-com{
		bottom: 0;
		border-top: 1px solid #EBEBEB;
		padding: 15rpx 0;
	}
	.main-box{
		box-sizing: border-box;
		padding: 20rpx;
	}
	.input-box{
		width: 80%;
		display: flex;
		justify-content: flex-start;
		background: #F7F5F8;
		border-radius: 10rpx;
		padding: 5rpx 10rpx;
		align-items: center;
	}
	.search-box{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.pick{
		width: 20%;
	}
	input{
		margin-left: 10rpx;
		font-size: 25rpx;
		width:80%;
	}
	picker{
		font-size: 30rpx;
		color: #39393A;
	}