.page {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    font-size: 30px;
    color: white;
}

html {
    font-size: 99px;
}

.text {
    color: green;
}