
#login{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,.3);
    z-index: 500;
}
#login .main{
    position: relative;
    padding: 24px;
    width: 318px;
    max-width: 100%;
    font-size: 15px;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 14px;
    color:#aaa
}
#login .main .title{
    font-size: 19px;
    font-weight: 800;
    margin: 0 0 24px;
    color: #0e161f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.close {
    position: relative;
    width: 16px;
    height: 16px;
}
.close:before, .close:after {
    position: absolute;
    left: 8px;
    content: ' ';
    height: 17px;
    width: 1px;
    background-color: #aaa;
}
.close:before :hover, .close:after :hover{
    background-color: #777;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
#login .main .tel{
    padding: 0 10px;
    border: 1px solid #d9d9d9;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
#login .main .tel input{
    padding: 8px 6px;
    width: 100%;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
}

#login .main .inputBox input:focus {
    outline:none;
    border: 1px solid #0E8EFF;
}
#login .main .inputBox{
    margin:8px 0px 16px;
    position: relative;

}
#login .main .inputBox input{
    padding: 8px 6px;
    width: 100%;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
}
#login .main .inputBox button{
    position: absolute;
    width: 120px;
    line-height: 35px;
    padding: 0;
    top: 0px;
    right: 0;
    font-size: 15px;
    color: #007fff;
    background-color: transparent;
}
#login .main button{
    width: 100%;
    background-color: #007fff;
    font-size: 15px;
    color: #fff;
    border-radius: 2px;
    border: none;
    padding: 10px 19px;
    outline: none;
    transition: background-color .3s,color .3s;
    cursor: pointer;
    margin-bottom: 16px;
}
#login .main .other{
    color: #007fff;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
}
#login .main span{
    color: #0E8EFF;
    cursor: pointer;
}
#login .main .img{
    position: absolute;
    top: -34%;
    left: 30%;
    width: 10rem;
    z-index: 1;
}
#login .main .img2{
    position: absolute;
    top: -37%;
    left: 30%;
    width: 10rem;
    z-index: 1;
}