.page {
    background-color: rgb(246, 246, 246);
}

.title {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 90vw;
    position: relative;
    left: 5vw;
}

span {
    margin-left: 2vw;
}

.list {
    border: 1px solid rgb(246, 246, 246);
    line-height: 5vh;
    height: 5vh;
    display: flex;
    background-color: #fff;
    align-items: center;
}

.calculate {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 16px;
    overflow: hidden;
    color: #323233;
    font-size: 14px;
    line-height: 3vh;
    background-color: #fff;
    border: 1px solid rgb(229, 229, 229);
}

.line {
    border-top: 1px solid rgb(229, 229, 229);
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 90vw;
    margin-left: 5vw;
}

.task {
    width: 90vw;
    margin-left: 5vw;
    display: flex;
}

.taskTitle {
    margin: 2vw;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myitem {
    margin-left: 1vw;
    background-color: #fff;
}

.bottom {
    background-color: rgb(246, 246, 246);
}

button {
    margin-top: 2vh;
    border-radius: 20%;
    overflow: hidden;
    width: 7vw;
    height: 4vh;
    position: relative;
    left: 88vw;
    font-size: 10px;
    background-color: rgb(54, 120, 180);
    color: #ffffff;
}

.myinput {
    /*line-height: 15px;*/
    position: relative;
    top: 1vh;
    height: 4vh;
    overflow: hidden;
    left: 2vw;
    width: 80vw;
}