#main {
    width: 500px;
    height: 900px;
    overflow: hidden;
    background-color: rgb(245,245,245);
    border: 1px solid #eee;
    margin-left: 20px;
}
.pay {
    width: 500px;
    height: 320px;
    padding:10px 20px;
    background-color: rgb(22,118,254);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.pay .title {
    height: 25px;
    display: flex;
    justify-content: space-between;
}
.pay .time {
    color:#fff;
    letter-spacing: 1px;
}
.pay .icon {
    color:#fff;
    letter-spacing: 1px;
    line-height: 16px;
}
.pay img {
    margin:0 8px;
}
.complete{
    text-align: right;
    color: rgba(251,251,251,0.8);
}
.button{
    width: 500px;
    height: 80px;
    position:relative;
    background-color: #fff;
    margin-top: 330px;
}
.buttons{
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.buttons button{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    outline: none;
    margin-right: 20px;
    letter-spacing: 1px;
}
.buttons :first-child{
    border:1px rgb(22,118,254) solid;
    background-color: #fff;
    color: rgb(22,118,254);

}
.buttons :last-child{
    border:1px rgb(22,118,254) solid;
    background-color: rgb(22,118,254);
    color: #fff;
}
.payIcon {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(251,251,251,0.95);
}
.payMoney {
    text-align: center;
    color:#fff;
    font-size: 46px;
    letter-spacing: 2px;
}
.payMoney span{
    font-size: 30px;
}
.payPlace {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.payRank{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(251,251,251,0.9);
    letter-spacing: 1px;
}
.payRank:last-child{
    color: rgba(251,251,251,0.85);
}
.border{
    width: 500px;
    height: 30px;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    background-color: rgb(22,118,254);
}
.choice{
    width: 460px;
    height: 200px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: -60px;
    box-sizing: border-box;
    padding:15px 15px;
}
.choice .title{
    display: flex;

}
.choice .title div:first-child{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 10px;
}
.choice .title div:last-child{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 32px;
    color: rgb(205,205,205);
}
.choice .child{
    display: flex;
    justify-content: space-around;
}