.news-total {
  width: 375px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.news-top {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 110px;
  background: linear-gradient(#902714, #bd3c28, #b42e1b);
  padding-top: 28px;
}

.icon-news-back {
  width: 30px;
  height: 30px;
  fill: white;
}
.news-input {
  height: 30px;
  width: 300px;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 35px;
  margin-right: 10px;
  background-image: url("../static/search.png");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 10px 8px;
}
