/**
 * @Description: index.css
 * @author zhangzhong
 * @date 2020/12/20 
*/
.list-box{
    width:700px;
    height: 775px;
    background-color: #f4f5f5;
}

.list-card{
    width: 700px;
    height: 100px;
    background-color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 1px 0;
}

.list-card .card-left{
    flex: 1 1 auto;
}
.list-card .card-right{
    flex: 0 0 auto;
    width: 60px;
    height: 60px;
}
.list-card .card-right img{
    width: 60px;
    height: 60px;
}
.card-nav{
    font-size: 12px;
    color: #cdc0ce;
    margin-bottom: 2px;
}
.title{
    margin:5px 0 10px 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    color: #2e3135;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.good , .msg{
    display: inline-block;
    padding: 1px 8px;
    box-sizing: border-box;
    border:1px solid #b2bac2;
    font-size: 12px;
    color: #b2bac2;
    font-weight: 700;
}
.good img, .msg img{
    width: 16px;
    height: 16px;
}


.msg{
    border-left:0px solid #b2bac2;
}